.item__block {
    padding-right: -1000px;
    align-items: center;
    border: 2px solid rgb(254, 240, 162);
    padding: 20px 200px 20px 300px;
    margin: 10px;
    text-align: center;
    background-color: rgb(255, 243, 176, 0.6);
    border-radius: 30px;
}

.item__images {
    width: 170px;
    height: 180px;
}

.item__paragraph {
    font-size: 24px;
    font-family: "Inter-Medium";
    color: #335c67;
}

.item__description {
    font-size: 15px;
    margin-top: 10px;
    font-family: "Inter-Medium";
    color: #335c67;
}

.item__price {
    font-size: 20px;
    font-family: "Inter-Medium";
    color: #335c67;
    margin-top: 10px;
}

.edit__button, .remove__button {
    width: 100px;
    height: 30px;
    border: 2px solid #335c67;
    background-color: transparent;
    color: #173950;
    margin-right: 5px;
    font-size: 15px;
    border-radius: 6px;
    font-family: "Inter-Medium";
    margin-top: 5px;
    cursor: pointer;
}


