.title {
    font-size: 20px;
    font-family: "Inter-Medium";
    color: #335c67;
    margin-top: -20px;
    margin-bottom: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.all {
    justify-content: center;
}